.newPost {
    background-color: whitesmoke;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 0.1rem;
    box-shadow: 0 0.1rem 0.3rem gray;

    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;

    animation-name: newPost;
    animation-duration: 1s;
}

@keyframes newPost {
    0% {
        height: 0;
    }
    60% {
        height: 25rem;
    }
    61% {
        background-color: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
        
        padding: 0;
    }
    100% {
        background-color: whitesmoke;
        border: 1px solid rgb(226, 226, 226);
        border-radius: 0.1rem;
        box-shadow: 0 0.1rem 0.3rem gray;

        padding: 1rem;
    }
}

.newPost > * {
    visibility: hidden;

    animation-name: newPostElements;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes newPostElements {
    to {
        visibility: visible;
    }
}

.newPostFile {
    color: gray;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 0.3rem;
    cursor: pointer;
    text-align: center;
    
    margin-top: 1rem;
    padding: 0.5rem;
    max-height: 20rem;
    overflow: auto;
}
.newPostFile input[type="file"] {
    display: none;
}
.newPostTitle {
    color: var(--color-primary);
    font-size: 1.2rem;
    font-weight: bold;
    
    margin-bottom: 0.5rem;
}
.newPostDescription {
    font-size: 1em;

    border-radius: 0.4rem;
    border: none;

    padding: 0.8rem;
    margin-top: 0.5rem;
    min-width: 100%;
    max-width: 100%;
    min-height: 5rem;
}
.newPostDescription:focus {
    outline: none;
}
.newPostButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.newPostButtons button {
    margin: 0 0.3rem;

    flex: 1;
}

.newPostShowPublish {
    margin-bottom: 0;
    width: 100%;
}

.separator {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 1.5rem 0;
}
.separator hr {
    background-color: rgba(124, 124, 124, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}
.separator label {
    color: rgba(124, 124, 124, 0.5);
    font-size: 1.5rem;

    margin: 0 1rem;
}

.list {
    margin-top: 1rem;
}
.item {
    background-color: whitesmoke;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 0.1rem;
    box-shadow: 0 0.1rem 0.3rem gray;

    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1rem;
}
.itemHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.itemImageProfile {
    width: 40px;
    height: 40px;
}
.itemHeaderInformation {
    display: flex;
    flex-direction: column;

    flex: 1;
}
.itemHeaderInformationName {
    font-size: 1.1rem;
    font-weight: bold;
}
.itemHeaderInformationDate {
    color: gray;
}
.itemTitle {
    color: var(--color-primary);
    font-size: 1.2rem;
    font-weight: bold;
}
.itemImage {
    width: 100%;
}
.itemInteractions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 1rem 0;
}
.itemInteractions label {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;
}
.itemInteraction {
    font-size: 2rem;
    margin-right: 1rem;
}