.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    align-items: center;

    height: 100vh;
}

.presentation {
    text-align: center;

    padding: 2rem;
    margin: 2rem;
    flex: 1;
}
.presentationTitle {
    color: white;
    font-size: 3.4em;
    font-weight: bold;
}
.presentationDescription {
    color: white;
    font-size: 1.5em;
}
.presentationDescription ul {
    list-style: none;
    margin-left: -1rem;
}

.form {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(0.6rem);
    -webkit-backdrop-filter: blur(0.6rem);
    border-radius: 0.4rem;
    box-shadow: 0rem 0.5rem 1rem rgba(68, 68, 68, 0.4);

    padding: 2rem;
    margin: 1rem;

    display: flex;
    flex-direction: column;

    flex: 1;
}
.formSmall {
    color: red;
    
    margin-left: 0.1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.6rem;
}
.formForgetPassword {
    color: var(--color-secondary);
    font-size: 1.1em;
    text-align: center;

    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.formForgetPassword:hover {
    text-decoration: underline;
}
.formHr {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}