.container {
    display: flex;
    flex-direction: column;
    
    align-items: center;

    height: 100vh;
}

.form {
    width: 50%;
    margin: 1rem 5rem;

    flex: 0;
}
.formLinks {
    display: flex;
    flex-direction: row;
}
.formLink {
    text-align: center;
    
    flex: 1
}

@media screen and
(max-width: 1024px) {
    .form {
        width: 90%;
        margin: 1rem 1rem;
    }
}